<div [class] = "'myClass'">
  <form style="font-size: 150%;">
    <table>
      <tr>
        <b>Contact our Customer support center</b>
      </tr>
      <tr>
      <img width = "200" src = "assets/images/macbook.jpg"/>
      </tr>
    </table>
  </form>
</div>
<div style="text-align: center;font-size: 120%;">
  <p><b>Contact information</b></p>
  <p>Please find out your Contact information below</p>
</div>

<div [class] = "'myClass'">
  Name*
  <form>
    <table>
      <tr>
        <th></th>
      </tr>
    </table>
  </form>
</div>